[submodule "Dependencies/yoga_cpp"]
	path = Dependencies/yoga_cpp
	url = https://github.com/antopilo/yoga_cpp.git
[submodule "Dependencies/NuakeRenderer"]
	path = Dependencies/NuakeRenderer
	url = https://github.com/antopilo/NuakeRenderer.git
[submodule "Dependencies/msdf-atlas-gen"]
	path = Dependencies/msdf-atlas-gen
	url = https://github.com/antopilo/msdf-atlas-gen.git
[submodule "Dependencies/nanosvg"]
	path = Dependencies/nanosvg
	url = https://github.com/memononen/nanosvg.git
